<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Remote_Temperature_Monitoring.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Remote_Temperature_Monitoring.Properties.Settings.dbRTMConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\dbRTM.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <Remote_Temperature_Monitoring.Properties.Settings>
            <setting name="EmailUserName" serializeAs="String">
                <value>hyttevarsel</value>
            </setting>
            <setting name="EmailSenderEmail" serializeAs="String">
                <value>hyttevarsel@gmail.com</value>
            </setting>
            <setting name="EmailPassword" serializeAs="String">
                <value>slikkepinn</value>
            </setting>
            <setting name="EmailHost" serializeAs="String">
                <value>smtp.gmail.com</value>
            </setting>
            <setting name="EmailPort" serializeAs="String">
                <value>587</value>
            </setting>
            <setting name="EmailSSL" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TempStatLowLowLimit" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="TempStatLowLimit" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="TempStatHighLimit" serializeAs="String">
                <value>28</value>
            </setting>
            <setting name="TempStatHighHighLimit" serializeAs="String">
                <value>35</value>
            </setting>
            <setting name="SMSPinCode" serializeAs="String">
                <value>3768</value>
            </setting>
            <setting name="SMSCOMPort" serializeAs="String">
                <value>COM3</value>
            </setting>
            <setting name="SMSLowLow" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SMSLow" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SMSHigh" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SMSHighHigh" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EmailLowLow" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EmailLow" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EmailHigh" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EmailHighHigh" serializeAs="String">
                <value>False</value>
            </setting>
        </Remote_Temperature_Monitoring.Properties.Settings>
    </userSettings>
</configuration>